/* ---------- General Styles ---------- */
body {
  font: 400 1rem/1.625rem "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

.bg-image {
  display: none;
}

.h2-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.625rem;
  color: #121212;
  margin-bottom: 2rem;
}

a.cta-button {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
  background: linear-gradient(to right, rgba(26, 82, 228, 1), rgba(92, 128, 255, 1));
}

a.cta-button:hover {
  background: rgba(23, 74, 204);
}

a.cta-button:last-child {
  background: transparent;
}

a.cta-button:last-child:hover {
  color: #7b2aeb;
}
/* ---------- End of General Styles ---------- */

/* ---------- Navbar ---------- */
.navbar {
  background-color: #121212;
}

/* Menu Toggle */
.navbar-toggler {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: 0.5s;
}

.navbar-toggler span:nth-child(1) {
  transform-origin: 0 0;
}

.navbar-toggler span:nth-child(3) {
  transform-origin: 0 100%;
}

.span-child1 {
  transform: rotate(45deg) translate(-1px, 2px);
}

.span-child3 {
  transform: rotate(-45deg) translate(-2px, -2px);
}

.span-child2 {
  opacity: 0;
}

/* Menu List */
.nav-link {
  font-size: 0.875rem;
  font-weight: 300;
  color: #fff;
  padding-left: 0;
}

.nav-link:hover {
  color: #7b2aeb;
}

.nav-link.cta-button-border {
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  padding: 10px 30px;
  margin: 1rem 0;
}

.nav-link.cta-button-border:hover {
  border: 1px solid #7b2aeb;
}
/* ---------- End of Navbar ---------- */

/* ---------- Header ---------- */
.header {
  padding-top: 7rem;
  background-color: #121212;
}

/* Column Left */
.header h1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.125rem;
  color: #fff;
  margin-bottom: 1.25rem;
}

.header p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.625rem;
  color: #949494;
  margin-bottom: 2rem;
}

/* Column Right */
.header .image-container {
  padding: 2.5rem 0;
}

.header img {
  max-width: 617px;
}
/* ---------- End of Header ---------- */

/* ---------- About ---------- */
.about {
  padding-top: 2.5rem;
}

/* Column Left */
.about .text-container p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  margin-bottom: 2rem;
  color: #404852;
}

.details {
  border-bottom: 1px solid #dedede;
}

.details img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 21px;
}

.testimonial-author {
  font-size: 1rem;
  font-weight: 500;
  color: #121212;
}

.occupation {
  font-size: 0.875rem;
  font-weight: 400;
  color: #959ca4;
  margin-bottom: 2.5rem;
}

.counter-container {
  margin-top: 2.5rem;
}

.counter {
  margin-bottom: 2.25rem;
}

.counter .number {
  font-size: 2.25rem;
  font-weight: 600;
  color: #121212;
  margin-bottom: 0.75rem;
}

.counter .info {
  font-size: 0.875rem;
  font-weight: 400;
  color: #737b8b;
}

/* Column Right */
.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: none;
  border-bottom: 1px solid #dedede;
  margin-bottom: 1.25rem;
}

.card h5 {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 600;
  color: #121212;
}

.card p {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #404852;
}

.card:last-child {
  border-bottom: none;
}

.card .image-container {
  height: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #ebf3fe;
}

.card .image-container img {
  width: 25px;
}

.card .image-container:nth-child(2) {
  background-color: #eff9fb;
}

.card .image-container:nth-child(3) {
  background-color: #f2eefc;
}

.card .image-container:nth-child(4) {
  background-color: #fff6f5;
}
/* ---------- End of About ---------- */

/* ---------- Services ---------- */
.services {
  padding-top: 2rem;
}

/* Column Left */
.accordion-item {
  display: none;
  border: none;
  border-radius: 0;
}

.accordion-item:first-child {
  display: block;
}

.accordion-item .accordion-button {
  font-size: 1.25rem;
  font-weight: 600;
  color: #121212;
  margin-bottom: 1rem;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

.accordion-item .accordion-button span {
  display: none;
}

.accordion-item .accordion-button:not(.collapsed) {
  color: #121212;
}

.accordion-item .accordion-button::after {
  display: none;
}

.accordion-item .accordion-body {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #5a5a5a;
  padding: 0;
  margin-bottom: 1rem;
}

.accordion-item .accordion-body a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #493795;
  margin-bottom: 1.875rem;
}

.accordion-item .accordion-body .bi-arrow-right {
  font-size: 1.3rem;
  margin-left: 1rem;
  transition: 0.5s;
}

.accordion-item .accordion-body a:hover .bi-arrow-right {
  transform: translateX(10px);
}
/* ---------- End of Services ---------- */

/* ---------- Testimonial ---------- */
.testimonial {
  padding: 2.5rem 0;
}

/* Column Right */
.testimonial p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #121212;
  margin-bottom: 1.25rem;
}

.testimonial .arrow {
  display: none;
}

/* Column Left */
.testimonial .image-container {
  position: relative;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.play-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 47, 62, 0.2);
}

.play-btn img {
  width: 70px;
}
/* ---------- End of Testimonial ---------- */

/* ---------- Footer ---------- */
footer {
  padding: 2rem 0;
  background-color: #333;
}

footer .row {
  padding-top: 1.875rem;
}

/* Row 1 */
footer .row-1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer .logo img {
  width: 40px;
  height: 40px;
}

footer .h2-title {
  color: #fff;
}

/* Row 2 */
.row-2 .logo {
  display: none;
}

.row-2 .nav {
  margin-bottom: 1rem;
}

.row-2 .col {
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.row-2 a {
  font-size: 0.875rem;
  font-weight: 400;
  color: #818181;
}

.row-2 a:hover,
.row-2 i:hover {
  color: #7b2aeb;
}

.row-2 i {
  font-size: 1.25rem;
  color: #fff;
  margin-right: 1rem;
}
/* ---------- End of Footer ---------- */

/* Breakpoints */
@media (min-width: 576px) {
  /* ---------- Header ---------- */
  .header {
    text-align: center;
  }
  /* ---------- End of Header ---------- */

  /* ---------- About ---------- */
  .details {
    display: flex;
    gap: 1rem;
  }

  .counter-container {
    display: flex;
    gap: 3.75rem;
  }
  /* ---------- End of About ---------- */
}

@media (min-width: 768px) {
  /* ---------- Footer ---------- */
  .row-2 .col {
    padding-top: 0;
    border-top: none;
  }
  /* ---------- End of Footer ---------- */
}

@media (min-width: 992px) {
  /* ---------- General Styles ---------- */
  .bg-image {
    display: block;
    position: relative;
  }

  .bg-image.right img,
  .bg-image.left img,
  .bg-image.center img {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: -1;
  }

  .bg-image.left img {
    width: 50%;
    left: -100px;
    bottom: 50px;
  }

  .bg-image.center img {
    width: 100%;
    left: -100px;
    bottom: -550px;
    z-index: -2;
  }

  .h2-title {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }

  a.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
  }

  a.cta-button:last-child {
    display: none;
  }
  /* ---------- End of General Styles ---------- */

  /* ---------- Navbar ---------- */
  .navbar {
    padding: 0.75rem 0;
  }

  .navbar-brand,
  .nav-link {
    margin-right: 1.5rem;
  }

  .nav-link.cta-button-border {
    margin: 0;
  }
  /* ---------- End of Navbar ---------- */

  /* ---------- Header ---------- */
  .header {
    text-align: left;
    padding-bottom: 2.5rem;
  }

  .header .text-container {
    padding: 2rem 0;
  }

  .header h1 {
    font-size: 4rem;
    line-height: 4.625rem;
    margin-bottom: 2rem;
  }

  .header .image-container {
    position: relative;
  }

  .header img {
    position: absolute;
    right: -20px;
  }
  /* ---------- End of Header ---------- */

  /* ---------- About ---------- */
  .about {
    padding-top: 7rem;
  }

  /* Column Left */
  .about .col-left {
    padding-right: 1.5rem;
  }

  .about .text-container p {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .details img {
    margin-bottom: 0;
  }

  .testimonial-author {
    font-size: 0.875rem;
    margin-bottom: 8px;
  }

  .occupation {
    font-size: 0.75rem;
  }

  .counter {
    margin-bottom: 0;
  }

  /* Column Right */
  .about .col-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    flex-direction: column;
    padding: 2rem;
    margin: 0;
    border-bottom: none;
    border-top: 3px solid #2d81df;
    border-radius: 0;
    box-shadow: 0 10px 50px rgba(34, 47, 62, 0.1);
  }

  .card h5 {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }

  .card:nth-child(2) {
    border-top: 3px solid #25b782;
  }

  .card:nth-child(3) {
    border-top: 3px solid #b75cff;
  }

  .card:nth-child(4) {
    border-top: 3px solid #f68b8a;
  }

  .card .image-container {
    margin-top: 2rem;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .card .image-container img {
    width: 40px;
  }
  /* ---------- End of About ---------- */

  /* ---------- Services ---------- */
  .services {
    padding-top: 10rem;
  }

  .services .row {
    display: flex;
    flex-direction: row-reverse;
  }

  .services .h2-title {
    margin-bottom: 3.25rem;
  }

  /* Column Right */
  .services .col-right {
    padding-right: 1.5rem;
  }

  /* Column Left */
  .accordion-item {
    display: block;
    border-bottom: 1px solid #dedede;
    margin-bottom: 2rem;
  }

  .accordion-item .accordion-button {
    font-size: 1.5rem;
  }

  .accordion-item .accordion-button span {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ababab;
    margin-right: 2.25rem;
  }

  .accordion-item .accordion-button::after {
    display: block;
  }

  .accordion-item .accordion-body {
    padding: 0 3.5rem;
  }
  /* ---------- End of Services ---------- */

  /* ---------- Testimonial ---------- */
  .testimonial {
    padding-top: 7rem;
  }

  .testimonial .row:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    padding: 5rem 0 2rem 0;
  }

  /* Column Right */
  .testimonial p {
    font-size: 1.563rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
  }

  .testimonial .info {
    display: flex;
    justify-content: space-between;
  }

  .testimonial .testimonial-author {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .testimonial .occupation {
    font-size: 1rem;
  }

  .testimonial .arrow {
    display: inline-block;
  }

  .testimonial .arrow a {
    font-size: 1.5rem;
    color: #959ca4;
  }

  .testimonial .arrow a:nth-child(2) {
    color: #121212;
    margin-left: 1rem;
  }

  /* Column Left */
  .testimonial .image-container {
    margin: 0;
  }

  .testimonial .image-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -10px;
    bottom: -10px;
    border: 1px solid #121212;
    z-index: -1;
  }
  /* ---------- End of Testimonial ---------- */

  /* ---------- Footer ---------- */
  footer {
    padding: 4rem 0;
  }

  /* Row 1 */
  footer .h2-title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.125rem;
  }

  footer .col-right {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  footer a.cta-button:last-child {
    display: inline-block;
  }

  /* Row 2 */
  .row-2 .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .row-2 .logo a {
    font-weight: 600;
    color: #fff;
  }
  /* ---------- End of Footer ---------- */
}

@media (min-width: 1200px) {
  /* ---------- Header ---------- */
  .header img {
    position: absolute;
    right: -70px;
    top: 0;
  }
  /* ---------- End of Header ---------- */
}
